[submodule "TwUITests/expecta"]
	path = TwUITests/expecta
	url = https://github.com/github/expecta.git
[submodule "TwUITests/specta"]
	path = TwUITests/specta
	url = https://github.com/specta/specta.git
